.navbar {
  background-color: #f8fafc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.navbar-links {
  display: none;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  gap: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-links ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  color: #6b7280;
  margin: 0;
  padding: 0;
}

.navbar-links ul li {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.navbar-links ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.navbar-links ul li a:hover {
  color: #047857;
}

.navbar-links ul li a.active {
  color: #047857;
  font-weight: bold;
}

/* Responsive Design */
@media (min-width: 768px) {
  .navbar-links {
    display: flex;
  }
}
